.button {
    cursor: pointer;
    font: inherit;
    border: none;

    color: white;
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    transition: all 0.5s;
   
background: #474747;
box-shadow: inset 7px 7px 14px #1c1c1c,
            inset -7px -7px 14px #727272;

  }
  
  .button:hover,
  .button:active {color: gray;
    background-color: #fcfcfc;
    box-shadow:none;
  }
  
  .icon {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
  }
  
  .badge {
    background-color: #e97236;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
    transition: all 0.5s;
  }
  
  .button:hover .badge,
  .button:active .badge {
    background-color: #fc580d;
color: white;
  }
  
  .bump {
    animation: bump 300ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }

  @media only screen and (max-width: 600px) {
.button{
  margin-right: 2rem;
}
      }